<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_resource.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user_resource.url %>
</p>

<%= link_to 'Edit', edit_user_resource_path(@user_resource) %> |
<%= link_to 'Back', user_resources_path %>
